<template>
    <div>
        <h2>Заказ</h2>
        <div class="block">
            <div v-if="isLoading" style="text-align: center;">
                <div class="spinner-border text-light"></div>
            </div>
            <div v-else-if="errorMessage" style="text-align: center;">
                {{ errorMessage }}
            </div>
            <div v-else>
                <div class="order-line">
                    <span class="order-caption">Номер:</span>
                    {{ order.code }}
                </div>
                <div class="order-line">
                    <span class="order-caption">Название работы:</span>
                    {{ order.title }}
                </div>
                <div class="order-line">
                    <span class="order-caption">Дата:</span>
                    {{ getDateString(order.start_date.date) }}
                </div>
                <div class="order-line">
                    <span class="order-caption">Статус:</span>
                    <OrderStateWidget :state="order.state"/>
                </div>
                <div class="order-line">
                    <span class="order-caption">Стоимость (оплачено):</span>
                    <OrderPriceWidget :price="order.price" :price_paid="order.price_paid"/>
                </div>
                <hr>
            </div>
        </div>
    </div>
</template>

<script>
    import OrderStateWidget from "./OrderStateWidget";
    import OrderPriceWidget from "./OrderPriceWidget";
    import {getDateString} from "../../utils";
    import {store} from "../../store/index"

    export default {
        name: "Order",
        components: {OrderPriceWidget, OrderStateWidget},
        data() {
            return {
                isLoading: true,
                errorMessage: null,
                order: null,
            }
        },
        created() {
            let order_id = this.$route.params.id;
            store.dispatch("updateOrders").then(() => {
                this.order = store.getters.getOrderById(order_id);
                if (!this.order) {
                    this.errorMessage = "Заказ не найден.";
                }
            })
                .catch(error => this.errorMessage = error)
                .finally(() => this.isLoading = false);
        },
        methods: {
            getDateString
        }
    }
</script>

<style scoped>
    .order-line {
        margin-bottom: 10px;
    }
</style>