<template>
    <span style="padding-left: 3px;">
        <i class="state" :class="className"></i>
        {{ stateName }}
    </span>
</template>

<script>
    export default {
        name: "OrderStateWidget",
        props: {
            state: Number
        },
        computed: {
            className() {
                return "state-" + this.state
            },
            stateName() {
                return {
                    1: "Обработка",
                    2: "Выполнение",
                    3: "Выполнен",
                    4: "Отказ",
                    5: "Отказ (!)",
                }[this.state];
            }
        }
    }
</script>

<style scoped>
    .state:before {
        content: "•";
        width: 5px;
        display: inline-block;
        font-style: normal;
        text-shadow: 0 0 2px #ffffff;
    }
    .state-1 {
        color: #2A9FD6;
    }
    .state-2 {
        color: #FF8800;
    }
    .state-3 {
        color: #77B300;
    }
    .state-4, .state-6 {
        color: #CC0000;
    }
    .state-5 {
        color: #9933CC;
    }
</style>