<template>
    <div>
        <div v-for="(order, index) in orders" :key="order.id">
            <hr v-if="index !== 0"/>
            <div class="order">
                <div class="order-header">
                    <div class="order-code">
                        <span class="order-caption">Номер:</span>
                        {{ order.code }}
                    </div>
                    <div class="order-title">
                        <span class="order-caption">Название работы:</span>
                        {{ order.title }}
                    </div>
                </div>
                <div class="order-link">
                    <a @click="switchShowDescription(index)">
                        <span v-if="showDescription[index]">
                            Скрыть ▲
                        </span>
                        <span v-else>
                            Подробнее ▼
                        </span>
                    </a>
                    <router-link :to="{ name: 'order', params: {'id': order.id} }" style="float: right">Перейти &gt;</router-link>
                </div>
                <div class="order-description" v-if="showDescription[index]">
                    <div class="order-date">
                        <span class="order-caption">Дата:</span>
                        {{ getDateString(order.start_date.date) }}
                    </div>
                    <div class="order-state">
                        <span class="order-caption">Статус:</span>
                        <OrderStateWidget :state="order.state"/>
                    </div>
                    <div class="order-price">
                        <span class="order-caption">Стоимость (оплачено):</span>
                        <OrderPriceWidget :price="order.price" :price_paid="order.price_paid"/>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="orders.length === 0" style="text-align: center;">
            <span v-if="!listLoading">Нет заказов</span>
            <div class="spinner-border text-light" v-else></div>
        </div>
    </div>
</template>

<script>
    import Vue from 'vue'
    import OrderStateWidget from "./OrderStateWidget";
    import OrderPriceWidget from "./OrderPriceWidget";
    import {getDateString} from "../../utils";

    export default {
        name: "OrderList",
        components: {OrderPriceWidget, OrderStateWidget},
        props: {
            ordersPromise: Promise,
            orders: Array,
        },
        data() {
            return {
                showDescription: [],
                listLoading: true,
            }
        },
        created() {
            this.ordersPromise.then(() => {
                this.showDescription = new Array(this.orders.length).fill(false);
            }).finally(() => {
                this.listLoading = false;
            })
        },
        methods: {
            getDateString,
            switchShowDescription(i) {
                Vue.set(this.showDescription, i, !this.showDescription[i]);
            }
        }
    }
</script>

<style scoped>
    .order-header, .order-description {
        display: flex;
    }

    .order-code, .order-title, .order-date, .order-state, .order-price, .order-link {
        padding: 5px;
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
    }

    .order-code {
        flex-basis: 100px;
    }

    .order-link {
        display: block;
    }
</style>