<template>
    <span style="padding-left: 3px;">
        <i class="price" :class="className"></i>
        <span v-if="price === 0">
            Бесплатный
        </span>
        <span v-else>
            {{ percents }}%
            <span v-if="percents != 100">
                {{ (price_paid / 100).toFixed(2) }} из
            </span>
            {{ (price / 100).toFixed(2) }} руб.
        </span>
    </span>
</template>

<script>
    export default {
        name: "OrderPriceWidget",
        props: {
            price: Number,
            price_paid: Number
        },
        computed: {
            percents() {
                return Math.floor(this.price_paid / this.price * 100);
            },
            className() {
                if (this.price === 0) {
                    return "price-free";
                }
                if (this.percents === 0) {
                    return "price-unpaid";
                } else if (this.percents < 40) {
                    return "price-part1";
                } else if (this.percents < 100) {
                    return "price-part2";
                } else {
                    return "price-paid";
                }
            },
        }
    }
</script>

<style scoped>
    .price:before {
        content: "•";
        width: 5px;
        display: inline-block;
        font-style: normal;
        text-shadow: 0 0 2px #ffffff;
    }

    .price-free {
        color: #9933CC;
    }

    .price-part2 {
        color: #FF8800;
    }

    .price-paid {
        color: #77B300;
    }

    .price-unpaid {
        color: #CC0000;
    }

    .price-part1 {
        color: #2A9FD6;
    }
</style>