<template>
    <div>
        <div v-if="!loading">
            <div class="order-line">
                <span class="order-caption">Имя:</span>
                {{ account.name }}
            </div>
            <div class="order-line">
                <span class="order-caption">ВУЗ:</span>
                {{ account.university }}
            </div>
            <div class="order-line" v-if="account.associated_vk">
                <span class="order-caption">Привязанный VK:</span>
                <a :href="'https://vk.com/id' + account.associated_vk">https://vk.com/id{{ account.associated_vk }}</a>
            </div>
            <div class="order-line" v-if="account.associated_tg">
                <span class="order-caption">Привязан Telegram:</span>
                <a href="https://t.me/NimtyBot">Да</a>
            </div>
        </div>
        <div v-else style="text-align: center;">
            <div class="spinner-border text-light"></div>
        </div>
    </div>
</template>

<script>
    import {store} from "../../store/index"

    export default {
        name: "ClientInfo",
        components: {},
        data() {
            return {
                loading: true,
            }
        },
        created() {
            store.dispatch("updateAccount").finally(() => {
                this.loading = false;
            });
        },
        computed: {
            account() {
                return store.state.account;
            }
        }
    }
</script>

<style scoped>
    .order-line {
        margin-bottom: 10px;
    }
</style>