<template>
    <div>
        <h2>Заказы</h2>
        <div class="block">
            <OrderList :ordersPromise="ordersPromise" :orders="orders"></OrderList>
        </div>
        <h2>Создать заказ</h2>
        <div class="block" style="text-align: center;">
            <p>
                Для создания заказа и обсуждения деталей напишите в любой мессенджер
            </p>
            <p>
                <a href="https://t.me/zennyo">Telegram</a>
            </p>
            <p>
                <a href="https://vk.me/nimty">VK</a>
            </p>
        </div>
        <h2>Информация об аккаунте</h2>
        <div class="block">
            <ClientInfo></ClientInfo>
        </div>
    </div>
</template>

<script>
    import OrderList from "../orders/OrderList";
    import {store} from "../../store/index"
    import ClientInfo from "./ClientInfo";

    export default {
        name: "Dashboard",
        components: {OrderList, ClientInfo},
        data() {
            return {
                ordersPromise: null,
            }
        },
        created() {
            this.ordersPromise = new Promise((resolve, reject) => {
                store.dispatch("updateOrders", true).then(resolve, reject);
            });
        },
        computed: {
            orders() {
                return store.state.orders
            }
        },
    }
</script>

<style scoped>

</style>