<template>
    <div id="app">
        <div>
            <h1>NIMTY</h1>
            <div class="content">
                <keep-alive include="dashboard">
                    <router-view></router-view>
                </keep-alive>
            </div>
        </div>
    </div>
</template>

<script>



    export default {
        name: 'app',
    }
</script>

<style>

    body {
        background-color: #060606;
        color: #ffffff;
    }

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        margin-top: 60px;
    }

    .block {
        background-color: #282828;
        border-radius: 3px;
        box-shadow: 0 0 3px #aaaaaa;
        padding: 15px;
        color: #ffffff;
        max-width: 600px;
        margin: 0 auto;
    }

    .text-error {
        color: #cc0000;
    }
    .spinner-border {

        display: inline-block;
        width: 2rem;
        height: 2rem;
        vertical-align: text-bottom;
        border: .25em solid currentColor;
        border-right-color: currentcolor;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner-border .75s linear infinite;
        animation: spinner-border .75s linear infinite;

    }

    @keyframes spinner-border {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }

    .content {
        text-align: left;
    }

    h1, h2 {
        text-align: center;
    }

    a {
        color: #fff;
        text-decoration-style: dotted;
    }
    .order-caption {
        color: #fff;
        background-color: #222;
        display: inline-block;
        padding: 0.25em 0.4em;
        font-size: 80%;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25rem;
        font-style: italic;
        margin: 0 2px 0 0;
    }
</style>
