<template>
    <div>
        <h2> Авторизация </h2>
        <LoginButtons/>
    </div>
</template>

<script>


    import LoginButtons from "./LoginButtons";

    export default {
        name: 'LoginForm',
        props: {},
        components: {
            LoginButtons,
        },
    }
</script>

<style scoped>
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
