<template>
    <div>
        <div class="block buttons_wrapper">
            <transition name="fade" mode="out-in">
                <div class="login_buttons" key="buttons" v-if="!loading">
                    <button @click="telegramLoginTest()" style="display: none;">telegram test</button>
                    <vue-telegram-login mode="callback"
                                        telegram-login="NimtyBot"
                                        @callback="telegramLogin"></vue-telegram-login>
                    <button class="btn vk_login_button" @click="vkLogin()">
                        <i class="vk_login_button_icon"></i>Войти через VK
                    </button>
                    <div>
                        <a style="color: #000000;" @click="codeLogin()">Enter with code</a>
                    </div>
                </div>
                <div class="login_loading" key="loading" v-else>
                    <div class="spinner-border text-light"></div>
                </div>
            </transition>
        </div>
        <transition name="fade">
            <p class="text-error" v-if="error_message_visible">
                {{ error_message }}
            </p>
        </transition>
    </div>
</template>

<script>

    import {vueTelegramLogin} from 'vue-telegram-login';
    import * as _ from 'lodash';
    import auth_api from "../../api/auth";

    export default {
        name: 'LoginButtons',
        data() {
            return {
                loading: false,
                error_message: "",
                error_message_visible: false,
            }
        },
        components: {
            vueTelegramLogin,
        },
        created() {
            this.debouncedHideErrorMessage = _.debounce(function () {
                this.error_message_visible = false;
            }, 5000);
        },
        methods: {
            telegramLogin(user) {
                this.loading = true;
                auth_api.telegramLogin(user).then(this.authOnSuccess).catch(this.authOnError)
            },
            vkLogin() {
                this.loading = true;
                window.open("https://oauth.vk.com/authorize?client_id=7269980&display=page&redirect_uri=http://example.com/callback&response_type=code&v=5.103");
            },
            telegramLoginTest() {
                this.telegramLogin({
                    "id": 123123123,
                    "first_name": "FIRST_NAME",
                    "last_name": "LAST_NAME",
                    "username": "UserName",
                    "photo_url": "https://example.com",
                    "auth_date": 23478324,
                    "hash": "HASHHASH",
                })
            },
            codeLogin() {
                var code = prompt("Enter code please");
                this.loading = true;
                if (code) {
                    auth_api.codeLogin(code).then(this.authOnSuccess).catch(this.authOnError);
                } else {
                    this.loading = false;
                }
            },
            showErrorMessage(msg) {
                this.error_message = msg;
                this.error_message_visible = true;
                this.debouncedHideErrorMessage();
            },
            authOnSuccess(data) {
                this.loading = false;
                localStorage.session_token = data.token;
                this.$router.replace("/");
            },
            authOnError(err) {
                this.loading = false;
                this.showErrorMessage(err)
            }
        }
    }
</script>

<style scoped>
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }

    .text-error {
        text-align: center;
    }

    .buttons_wrapper {
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
        margin: 0 auto;
    }

    .login_buttons {
        max-width: 500px;
        margin: auto;
    }

    .login_loading {
        margin: auto;
        display: block;
    }

    .vk_login_button {
        width: 100%;
        font-size: 16px;
        line-height: 20px;
        padding: 9px 21px 11px;
        border-radius: 20px;
        display: inline-block;
        vertical-align: top;
        font-weight: 500;
        background-color: #4a76a8;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0;
        border: none;
        color: #fff;
        cursor: pointer;
    }

    .vk_login_button_icon {
        width: 24px;
        height: 22px;
        margin: 0px 13px -2px -7px;
        background: url('../assets/vk_logo.svg') no-repeat 0 -1px;
        background-size: 24px 22px;
        display: inline-block;
        vertical-align: top;
    }

    .fade-enter-active, .fade-leave-active {
        transition: opacity .3s;
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
</style>
